@import "default";
@import "mixins";
@import "grids";

// 
// sass scss/main.scss:css/style.css --watch        --code for sass compilation

// navbar style

p {


     color: green;
     padding: 1rem;
     margin: 0 auto;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1 {
     margin: 0 auto;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     font-size: 2rem;
     font-style: italic;
     border-bottom: 4px solid green;

}